# Node
node_modules/
.next/
out/

# Python
__pycache__/
*.pyc
.myenv/
venv/
myenv/
.pytest_cache/
.mypy_cache/

# Env
.env
.env.local
frontend/.env.local
backend/.env

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

id_ed25519_personal
id_ed25519_personal.pub
id_ed25519_work
id_ed25519_work.pub


# Docs
/project_docs
*.env.example
